<div class="auth">
  <div class="title">
    <h1>
      <span>Welcome!!</span>
    </h1>
    <p>
      please enter your credentials to log in
    </p>
  </div>
  <div class="form">
    <form
      #logInForm="ngForm"
      (ngSubmit)="onLogin(logInForm.value)"
    >
      <mat-form-field class="fields-full">
        <input
          type="text"
          matInput
          placeholder="username"
          required
          [(ngModel)]="username"
          name="username"
          id="username"
        >
      </mat-form-field>
      <mat-form-field class="fields-full">
        <input
          type="password"
          matInput
          placeholder="password"
          required
          [(ngModel)]="password"
          name="password"
          id="password"
        >
      </mat-form-field>

      <button
        [disabled]="!logInForm.valid"
        mat-raised-button
        color="primary"
        type="submit"
      >Log in</button>
    </form>
  </div>
  <br>
  <div class='title'>
    <p>Don't have an account? <a routerLink="/registration"><b>register</b> now</a>!!</p>
  </div>
  <div class='title'>
    <p><a routerLink="/forgot">Forgot your password?</a></p>
  </div>
</div>
