.auth {
  display: flex;
  max-width: 300px;
  flex-direction: column;
  margin: auto;
  justify-content: space-evenly;
}

.title {
  text-align: center;
}

.form {
  min-width: 150px;
  max-width: 250px;
  padding-left: 20px;
}

.fields-full {
  width: 100%
}

a {
  text-decoration: none;
}